#app {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  margin: 0%;
  right: 0%;

  transition: all 0.5s ease-in-out;

  background: radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 50px 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container{
  left: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.content-area{
  position: relative;
  flex-grow:1;
  max-width: 100%;
  height: 100%;
}

.chartCard {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 90%;
  top: 7.5%;
  object-fit: cover;
  /* right: 0%; */

  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-template-rows: auto;
  justify-content: left;
  opacity: 100%;
}

.chartCard.active {
  opacity: 100%;
  pointer-events: auto;
}

.chartBox {
  position: absolute;
  pointer-events: none;
  width: 97.5%;
  height: 100%;
  max-height: 95%;
  justify-self: center;
  align-self: center;
  padding: 1%;

  /* border: solid 2px rgba(0, 0, 0, 1); */
  background: white;
  opacity: 0%;
  fill: white;
  z-index: 0;
}

.chartBox.active {
  pointer-events: auto;
  position: relative;
  /* transform: scale(1); */
  opacity: 100%;
  transition: all 0.25s ease-in-out;

  z-index: 99;
}

.chartBox .title {
  position: absolute;
  bottom: 100%;

  font-size: 125%;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.openSidebarIcon{
  left: 0%;
  top: 0%;
  margin-left: 0.5rem;
  padding: 0rem;
  font-size: 225%;
  opacity: 0%;

  pointer-events: none;

  z-index: 500;

  transition: all 0.25s ease-in-out;
}
.openSidebarIcon.active{
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.openSidebarIcon:hover{
  opacity: 50%;
  transition: all 0.25s ease-in-out;
}

.sidebar{
  position: relative;
  width: 0%;
  height: 100%;
  background-color: white;
  outline: solid 0px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  flex-flow: column nowrap;

  resize: none;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
}

.sidebar .scrollContainer{
  width: 100%;
  height: fit-content;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.inputContainer{
  display: flex;
  width: 100%;
}
.inputContainer input{
  min-width: 10%;
  max-width: 30%;
  /* height: 100%; */
  margin-left: 0;
  outline: none;
}
.inputContainer div{
  flex-grow: 2;
  justify-content: center;
  height: fit-content;
  padding-left: 2rem;
  line-height: 270%;
  user-select: none;
}

.sidebar .sidebarTitle{
  user-select: none;
  height: fit-content;

  padding: 5%;

  float: right;
  text-align: left;

  background-color: #B3B3B3;
  color: black;

  transition: all 0.5s ease-in-out;
}
.sidebar.active .sidebarTitle{
  font-size: 175%;
  outline: solid 1px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}
.sidebarTitle .symbol{
  float: right;
  font-weight: 100;
  font-size: 125%;

  opacity: 100%;
  transition: opacity 0.25s ease-in-out;
}

.sidebarTitle label{
  position: absolute;
  align-items: center;
  text-align: center;

  transform: translate(0%, 10%);
}

.group-list i{
  float: right;
  margin-right: 0%;
  margin: 1.5%;
  height: 100%;
  color: black;
  z-index: 100;
  cursor: pointer;
}

.group-list i:hover{
  color: white;
}

.symbol:hover{
  opacity: 50%;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

/* Dropdown Button */
.dropbtn {
  height: fit-content;
  font-weight: 200%;
  font-size: 100%;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 100, 100, 0);
  z-index: 0;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  opacity: 50%;
  font-weight: 200%;
  background-color: rgba(0, 100, 100, 0);
  color: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

li .dropdown{
  left: 0.25%;
  position: fixed;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  /* margin-left: 20%; */
  padding: 10%;
  margin: 10%;
  min-width: fit-content;
  max-height:500px;
  overflow-y:scroll; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0%;
}

li .dropdown-content {
  left: 0%;
  min-width: 150px;
  max-height:500px;
  font-size: 75%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 75%;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-content.show {display:block;}

.sidebar.active{
  width: 20%;
  outline: solid 2px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  resize: none;
}
.sidebar .batchGrid {
  outline: solid 0px rgba(0, 0, 0, 1);
}
.sidebar.active .batchGrid {
  outline: solid 1px rgba(0, 0, 0, 1);
}

.batchGrid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  outline: solid 1px rgba(0, 0, 0, 1);
  overflow: auto;
  overflow-x: hidden;

  background: white;
  color: black;

  align-content: flex-start;
  justify-content: flex-start;
}

.batchGrid nav{
  width: 100%;
}

/* .batchGrid div {
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: auto;
  font-size: 100%;
  padding: 8%;
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 1);

  color: black;

  pointer-events: none;
  opacity: 50%;
}
.sidebar .batchGrid div {
  padding: 2%;
}
.sidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}
.controlSidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}
.batchGrid div.active:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div.selected {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in-out;
  outline: solid 1px rgba(255, 255, 255, 1);
}
.batchGrid div.selected:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div i{
  pointer-events: auto;
  cursor: default;
  left: 2.5%;
  font-size: 100%;
} */

.nav a, .nav label {
  font-size: 125%;
  display: flex;
  padding: .85rem;
  padding-left: 12%;
  /* color: #fff; */
  color: black;
  background-color: #ffffff;
  box-shadow: inset 0 -1px #1d1d1d;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover{
  color: rgba(255, 255, 255, 1);
  background: black;
}
.nav label { 
  cursor: pointer;
  overflow: hidden;
}
.title_Label:hover .dropbtn{
  color: rgba(255, 255, 255, 1);
}

/**
 * Styling first level lists items
 */
 .group-list a, .group-list label{
  font-size: 100%;
  padding-left: 12.5%;
  color: black;
  background: #E6E6E6;
  box-shadow: inset 0 -1px #373737;
}

.group-list .inputContainer .input_title, .inputContainer input{
  font-size: 100%;
  padding-left: 0.5rem;
  color: black;
  background: white;
}
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }
/**
 * Styling second level list items
 */
.sub-group-list a, .sub-group-list label, .sub-group-list .inputContainer, input {
  font-size: 100%;
  outline: solid 1px #353535;
  margin: auto;
  height: 2.5rem;
  color: black;
  background: white;
  /* box-shadow: inset 0 -1px #474747; */
}
.sub-group-list input{
  font-size: 125%;
  height: 100%;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
/**
 * Styling third level list items
 */
.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
/**
 * Hide nested lists
 */
.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}
.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
max-height: fit-content;
}

label > span {
  float: right;
  margin-right: 0%;
  margin-left: auto;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}
/* .nav__list input[type=checkbox]:checked + label > span, .group-list label{
  background-color: rgb(163, 163, 163);
} */
.nav__list input[type=checkbox]:checked + label > span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: rgba(0, 0, 0, 0);
}

label span{
  user-select: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.editIcon {
  margin: 0.1rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem;
  right: 1%;
  bottom: 1%;
  background-color: white;

  margin: auto;

  position: absolute;
  z-index: 100;

  color: rgb(0, 0, 0);
  opacity: 100%;
  border: 2px solid rgb(0, 0, 0);
  transition: all 0.25s ease-in-out;
}

.editIcon:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}

/* .editIcon.active{
  pointer-events: all;
  opacity: 100%;
} */

.editIcon.selected{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all 0.25s ease-in-out;
}
.editIcon.selected:hover{
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}

.editIcon.disabled{
  opacity: 50%;
  pointer-events: none;
}

.editIcon i{
  position: absolute;
  text-align: center;
  font-size: 1.25vw;
}

.title_Label i{
  /* float: left; */
  margin-right: 5%;
  margin-left: 0;
  
  /* padding-left: 2.5%; */
  /* transform: translate(-75%, 20%); */
  font-size: 150%;
  transition: all 0.25s ease-in-out;
  user-select: none; 
}

.title_Label i:hover{
  color: white;
  transition: all 0.25s ease-in-out;
}

.title_Label i:hover .dropbtn {
  color: white;
  transition: all 0.25s ease-in-out;
}

.title_Label span{
  margin-right: 0;
  margin-left: auto;
}

.loading{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex: none;
  position: absolute;
  z-index: 1000;
  opacity: 0%;
  pointer-events: none;
}

.loading.active{
  opacity: 100%;
}

.loading img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
}