#app {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  margin: 0%;
  right: 0%;

  transition: all 0.5s ease-in-out;

  background: radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 50px 50px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container{
  left: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
}

.content-area{
  position: relative;
  flex-grow:1;
  max-width: 100%;
  height: 100%;
}

.chartCard {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 90%;
  top: 7.5%;
  object-fit: cover;
  /* right: 0%; */

  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-template-rows: auto;
  justify-content: left;
  opacity: 100%;
}

.chartCard.active {
  opacity: 100%;
  pointer-events: auto;
}

.chartBox {
  position: absolute;
  pointer-events: none;
  width: 97.5%;
  height: 100%;
  max-height: 75%;
  justify-self: center;
  align-self: center;
  padding: 1%;

  /* border: solid 2px rgba(0, 0, 0, 1); */
  background: white;
  opacity: 0%;
  fill: white;
  z-index: 0;
}

.chartBox.active {
  pointer-events: auto;
  position: relative;
  /* transform: scale(1); */
  opacity: 100%;
  transition: all 0.25s ease-in-out;

  z-index: 99;
}

.chartBox .title {
  position: absolute;
  bottom: 100%;

  font-size: 100%;
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.openSidebarIcon{
  left: 0%;
  top: 0%;
  margin-left: 0.5rem;
  padding: 0rem;
  font-size: 200%;
  opacity: 0%;

  pointer-events: none;

  z-index: 500;

  transition: all 0.25s ease-in-out;
}
.openSidebarIcon.active{
  pointer-events: auto;
  opacity: 100%;
  transition: all 0.25s ease-in-out;
}

.openSidebarIcon:hover{
  opacity: 50%;
  transition: all 0.25s ease-in-out;
}

.sidebar{
  position: relative;
  width: 0%;
  height: 100%;
  background-color: white;
  outline: solid 0px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
  flex-flow: column nowrap;

  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
}

.sidebar .scrollContainer{
  width: 100%;
  height: fit-content;
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
}

.inputContainer{
  display: flex;
  width: 100%;
}
.inputContainer input{
  width: 25%;
  height: 100%;
  outline: none;
}
.inputContainer div{
  margin: 1%;
  flex-grow: 2;
  padding-left: 2rem;
  line-height: 200%;
}

.sidebar .sidebarTitle{
  user-select: none;
  height: fit-content;
  
  padding: 5%;
  text-align: left;
  outline: solid 0px rgba(0, 0, 0, 1);

  background-color: #B3B3B3;
  color: black;

  transition: all 0.5s ease-in-out;
}
.sidebar.active .sidebarTitle{
  font-size: 150%;
  outline: solid 1px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}
.sidebar.active{
  width: 20%;
  outline: solid 2px rgba(0, 0, 0, 1);
  transition: all 0.5s ease-in-out;
}
.sidebar .batchGrid {
  outline: solid 0px rgba(0, 0, 0, 1);
}
.sidebar.active .batchGrid {
  outline: solid 1px rgba(0, 0, 0, 1);
}

.batchGrid {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  outline: solid 1px rgba(0, 0, 0, 1);
  overflow: auto;
  overflow-x: hidden;

  background: white;
  color: black;

  align-content: flex-start;
  justify-content: flex-start;
}

.batchGrid div {
  display: inline-block;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: auto;
  font-size: 100%;
  padding: 8%;
  cursor: pointer;
  outline: solid 1px rgba(0, 0, 0, 1);

  color: black;

  pointer-events: none;
  opacity: 50%;
}

.sidebar .batchGrid div {
  padding: 2%;
}

.sidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}

.controlSidebar.active .batchGrid div.active {
  pointer-events: auto;
  opacity: 100%;
}
.batchGrid div.active:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div.selected {
  background-color: black;
  color: white;
  transition: all 0.25s ease-in-out;
  outline: solid 1px rgba(255, 255, 255, 1);
}
.batchGrid div.selected:hover {
  background-color: rgb(65, 65, 65);
  color: white;
  transition: all 0.25s ease-in-out;
}
.batchGrid div i{
  pointer-events: auto;
  cursor: default;
  left: 2.5%;
  font-size: 100%;
}

.nav a, .nav label {
  font-size: 200%;
  display: block;
  padding: .85rem;
  /* color: #fff; */
  color: black;
  background-color: #B3B3B3;
  box-shadow: inset 0 -1px #1d1d1d;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}
.nav a:focus, .nav a:hover, .nav label:focus, .nav label:hover {
  color: rgba(255, 255, 255, 0.5);
  background: #030303;
}
.nav label { cursor: pointer; }

/**
 * Styling first level lists items
 */
 .group-list a, .group-list label{
  font-size: 150%;
  padding-left: 1.5rem;
  color: black;
  background: #E6E6E6;
  box-shadow: inset 0 -1px #373737;
}

.group-list .inputContainer .input_title, .inputContainer input{
  font-size: 100%;
  padding-left: 0.5rem;
  color: black;
  background: white;
}
.group-list a:focus, .group-list a:hover, .group-list label:focus, .group-list label:hover { background: #131313; }
/**
 * Styling second level list items
 */
.sub-group-list a, .sub-group-list label, .sub-group-list .inputContainer, input {
  font-size: 125%;
  outline: solid 1px #353535;
  margin: auto;
  color: black;
  background: white;
  /* box-shadow: inset 0 -1px #474747; */
}
.sub-group-list input{
  font-size: 125%;
  height: 100%;
}

.sub-group-list a:focus, .sub-group-list a:hover, .sub-group-list label:focus, .sub-group-list label:hover { background: #232323; }
/**
 * Styling third level list items
 */
.sub-sub-group-list a, .sub-sub-group-list label {
  padding-left: 6rem;
  background: #454545;
  box-shadow: inset 0 -1px #575757;
}

.sub-sub-group-list a:focus, .sub-sub-group-list a:hover, .sub-sub-group-list label:focus, .sub-sub-group-list label:hover { background: #333333; }
/**
 * Hide nested lists
 */
.group-list, .sub-group-list, .sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-in-out;
  transition: max-height .5s ease-in-out;
}
.nav__list input[type=checkbox]:checked + label + ul { /* reset the height when checkbox is checked */
max-height: 1000px;
}

label > span {
  float: right;
  -webkit-transition: -webkit-transform .65s ease;
  transition: transform .65s ease;
}
/* .nav__list input[type=checkbox]:checked + label > span, .group-list label{
  background-color: rgb(163, 163, 163);
} */
.nav__list input[type=checkbox]:checked + label > span {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: rgba(0, 0, 0, 0);
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}